.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;

    padding: 1rem 0;
}

.sidebar-list .info {
    padding: 0.5rem 1rem;
}

.sidebar-list .result-list {
    width: 100%;
}

.sidebar-list .list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;

    border-bottom: 1px solid lightgray;
}